{% extends 'tasks/layout.html' %}
{% block body %}
<div class="container-fluid bg-primary  text-light text-center">
    <h1>Goal For Today</h1>
</div>


<form action="{% url 'index' %}" method="post">
{% csrf_token %}
    <div>
        {{ form.title }}
        <button type="submit" name="Create Task" class="btn btn-outline-warning">Create</button> 
    </div>
    

</form>
{% for task in tasks %}
    
    <div class="container-fluid" >
        <div class="row">
            <div class="col-5"><h3>{{ task }}</h3></div>
            <div class="col-1"><a href="{% url 'update' task.id %}"><button type="button" class="btn btn-outline-primary">Edit</button></a></div>
            <div class="col-.6"><a href="{% url 'delete' task.id %}"><button type="button" class="btn btn-outline-danger">Delete</button></a></div>
        </div>
    </div>

    {% empty %}
    <div>
        <h3>No Tasks Available Right Now</h3>
    </div>
    
{% endfor %}

{% endblock %}